<li class="one-post">

  
  <% if current_user == post.user %>
      <%= link_to "削除", post, method: :delete, 
      class: "delete", data: {confirm: "元に戻せませんが、本当に削除しますか？"} %>
  <% end %>

  <div class="paper3">
    <%= link_to post_path(post) do %>
      <%= image_tag("paper.png", size: "150x450") %>
    <% end %>
  </div>
  
  <div class="paper-name">
    <%= post.user.name %>
  </div>
  
  <div class="paper-result3">
    <%= post.content %>
  </div>
  

</li>
