<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav-head">
    <%= link_to root_path do %>
      <%= image_tag("logo3.png", size: '180x32',class: "logo") %>
    <% end %>
    
      <ul class="nav navbar-nav navbar-right">
        <li>
          
        </li>

        <li class ="search">
          <div id="search-box">
            <%= form_tag(search_posts_path, method: :get) do %>
              <%= text_field_tag :search, "", id: "inc_search", class: "search__query", name: "keyword", placeholder: "俳句を検索" %>
              <button class="searchsubmit" title="検索" type="submit">検索</button>
            <% end %>
          </div>
        </li>
        
        <li class="home-home">
          <%= link_to "ホーム",root_path %>
        </li>

        <li class="home-use">
          <%= link_to "ヘルプ", help_path %>
        </li>
        
        <li class="home-index"><%= link_to root_path do %>
        作品検索 <i class="fas fa-search fa-x"></i>
        <% end %></li>
        
        <% if logged_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            アカウント <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "設定", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
        <% else %>
          <li class="login"><%= link_to login_path do %>
          <i class="fas fa-sign-in-alt fa-x"></i>ログイン
          <% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<style>
  .logo3 {
    margin-left: 20px;
  }
</style>

<style>

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
#jquery-ui-autocomplete label {
    float: left;
    margin-right: 0.5em;
    color: black;
    font-size: 15px;
}

</style>

<script>
  /* global $ */
$(document).on('turbolinks:load', function(){
    var preFunc = null,
        preInput = '',
        input = '',
        ajaxSearch = function(){
          $.ajax({
          url: '/posts/search',
          type: 'GET',
          data: ('keyword=' + input),
          processData: false,
          contentType: false,
          dataType: 'json'
          });
        };
    $('#form').on('keyup', function() {
    .done(function(data){ //データを受け取ることに成功したら、dataを引数に取って以下のことする(dataには@postsが入っている状態)

      
      $(data).each(function(i, post){ //dataをpostという変数に代入して、以下のことを繰り返し行う(単純なeach文)
        wordlist.append(post.content)}); //resultというidの要素に対して、<li>post.content</li>を追加する。

      $("#form").autocomplete({source: wordlist});
      
    });
  });
});
</script>
